/* * {
    outline: 1px dotted red;
} */

/* ------------------------------------------------- */
/* Top Header */

.top-header {
    width: 100%;
}

#top-nav {
    margin-top: 10px;
}

#welcome-log-in{
    margin-top: 10px;
}

#welcome-log-in p{
    font-size: small;
}

#top-nav a{
    padding-left: 0px;
    color: rgb(114, 108, 108);
}

#top-nav a:hover{
    color: #13bfcb;
}

#top-nav-login{
    margin-left: 90px;
}

#top-nav-login a{
    color: #13bfcb;
}

.header-text-blue {
    color: #13bfcb;
}
#sect-1-cont{
    background-color: #f5f5f5;
}


/* ------------------------------------------------- */
/*  Bottom Header */

#bottom-header-button-box {
    margin-top: 30px;
    
}

#shopping-cart{
    margin-bottom: 5px;
    color: whitesmoke;
    
}

#shopping-cart svg{
    outline: 1px solid black;
}

.cart-system p {
    color: whitesmoke;
    margin-top: 4px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #13bfcb;
}
/* #search-here{
    margin-left: 40px;
} */


/* ------------------------------------------------- */
/*  Mid Nav */

#search-box{
    margin-left: 330px;
    width: fit-content;
}

#mag-glass{
    width: 30px;
    border-radius: 1px;
    background-color: gray;
}

#mag-glass svg{
    margin-left: 7px;
}

#main-nav a {
    color: #434b4d;
}

#main-nav a:hover{
    color: #13bfcb;
}

/* ------------------------------------------------- */
/*  Main Carousel */

#slide-show-box{
    padding-top: 10px;
}


/* ------------------------------------------------- */
/*  Section 4 */

#sect-4-cont{
    margin-top: 25px;
    width: 100%;
}

.image-ad img{
    width: 100%;
}

/* ------------------------------------------------- */
/* Cards Sizing and Section 5 */

#sect-5-cont{
    margin-top: 50px;
}

#discount-cards{
    height: 135px;
}


.mid-line {
    margin-top: 25px;
    width: 530px;
    border: .5px solid rgb(84, 84, 84);
}

#latest-button button{
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
}

/* ------------------------------------------------- */
/* Verticle Slash */

.vert-slash {
    color: #13bfcb;
}


/* ------------------------------------------------- */
/* Cards Section 6 */

#sect-6-cont{
    margin-top: 25px;
}



.card-body p {
    text-align: center;
}

.card img{
    height: 230px;
}


.add-to-cart {
    width: 60%;
    margin-left: 50px;
}


/* ------------------------------------------------- */
/* Section 7 */

#sect-7-cont{
    margin-top: 50px;
}

.computer-image img{
    margin-top: 30px;
    width: 400px;
}


/* ------------------------------------------------- */
/* Section 8 */

#sect-8-cont{
    margin-top: 50px;
}

/* ------------------------------------------------- */
/* Section 9 */

#sect-9-cont{
    margin-top: 50px;
}

/* ------------------------------------------------- */
/* Section 10 */

#sect-10-cont{
    margin-top: 50px;
    width: 100%;
}



/* ------------------------------------------------- */
/* Section 11 */

.brand-logo-box{
    width: 100%;
}

#brand{
    margin-top:5px;
}

.brand-logo{
    width:150px;
}

#sect-11-cont{
    margin-top: 50px;
}


/* ------------------------------------------------- */
/* Section 12 */

#sect-12-cont{
    margin-top: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #d6d6d6;
}

#enter-email-search{
    border-radius: 4px;
    border: 2px solid yellow;
}

/* ------------------------------------------------- */
/* Section 13 */

/* Fix */
#sect-13-cont{
    padding-top: 100px;
    padding-bottom: 2px;
}

#sect-13-cont ul {
    list-style-type: square;
}

/* Fix */
#sect-13-cont h5 {
    color: whitesmoke;
}

#sect-13-cont ul {
    color: whitesmoke;
}

#sect-13-cont p {
    color: whitesmoke;
}

#sect-13-cont {
    background-color: #434b4d;
}

.facebook-promokit-highlight p span{
    color: #13bfcb;
}

figcaption{
    text-align: center;
}

#facebook-cont figcaption {
    color: whitesmoke;
}

#facebook-cont img{
    margin-left: 8px;
}

.facebook-pics{
    width: 100px;
    height: auto;
}

/* ------------------------------------------------- */
/* Horizontal Bottom Bar */

#horizonal-bottom-bar{
    border-bottom-color: 1px solid whitesmoke;
}


/* ------------------------------------------------- */
/* Section 14 Footer */

#sect-14-cont {
    
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #434b4d;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;


}

#sect-14-cont svg{
    color: rgb(168, 160, 160)
}

#footer-icons{
    margin-left: 100px;
}

#footer-copy-set{
    font-size: small;
    padding-right: 150px;
}