* {
    outline: 1px dotted red;
}

/* ------------------------------------------------- */
/* Top Header */

.top-header {
    width: 100%;
    padding-top: 10px;
}

#top-nav-list {
    display: flex;
    list-style-type: none;
    justify-content:between;
    
}

.header-text-blue {
    color: aqua;
}

/* ------------------------------------------------- */
/*  Bottom Header */

#bottom-header-button-box {
    margin-top: 30px;
}

/* #search-here{
    margin-left: 40px;
} */


/* ------------------------------------------------- */
/*  Mid Nav */

#mid-nav-nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* ------------------------------------------------- */
/*  Main Carousel */

#slide-show-box{
    padding-top: 10px;
}

/* ------------------------------------------------- */
/*  Section 4 */

#sect-4-cont{
    width: 100%;
}

.image-ad img{
    width: 300px;
    padding: 5px;
}

/* ------------------------------------------------- */
/* Cards Section 5 */

hr{
    margin-top: 25px;
    width: 600px;
    border: .5px solid rgb(84, 84, 84);
}

#latest-button button{
    margin-bottom: 5px;
}


/* ------------------------------------------------- */
/* Cards Section 6 */

.card-body p {
    text-align: center;
}