* {
    outline: 1px dotted red;
}

/* ------------------------------------------------- */
/* Top Header */

.top-header {
    width: 100%;
    padding-top: 10px;
}

#top-nav-list {
    display: flex;
    list-style-type: none;
    justify-content:between;
    
}

.header-text-blue {
    color: aqua;
}

/* ------------------------------------------------- */
/*  Bottom Header */

#bottom-header-button-box {
    margin-top: 30px;
}

/* #search-here{
    margin-left: 40px;
} */


/* ------------------------------------------------- */
/*  Mid Nav */

#mid-nav-nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#mag-glass{
    margin-right: 220px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: gray;
}

/* ------------------------------------------------- */
/*  Main Carousel */

#slide-show-box{
    padding-top: 10px;
}

/* ------------------------------------------------- */
/*  Section 4 */

#sect-4-cont{
    margin-top: 25px;
    width: 100%;
}

.image-ad img{
    /* width: 300px;
    padding: 5px; */
    width: 100%;
}

/* ------------------------------------------------- */
/* Cards Sizing and Section 5 */

#sect-5-cont{
    margin-top: 50px;
}

#discount-cards{
    height: 135px;
}

#card-image{
    /* width: 220px;
    height: 200px; */
    width: 100%;
}


hr {
    margin-top: 25px;
    width: 530px;
    border: .5px solid rgb(84, 84, 84);
}

#latest-button button{
    margin-bottom: 5px;
}

/* ------------------------------------------------- */
/* Verticle Slash */

.vert-slash {
    color: aqua;
}


/* ------------------------------------------------- */
/* Cards Section 6 */

#sect-6-cont{
    margin-top: 25px;
}

.card-body p {
    text-align: center;
}

.card-img-top img{
    width: 300px;
    height: 300px;
}

/* .card-img-top {
    height: 250px;
} */



/* ------------------------------------------------- */
/* Section 7 */

#sect-7-cont{
    margin-top: 50px;
}

.computer-image {
    margin-top: 50px;
    width: 320px;
    height: auto;
}


/* ------------------------------------------------- */
/* Section 8 */

#sect-8-cont{
    margin-top: 50px;
}

/* ------------------------------------------------- */
/* Section 9 */

#sect-9-cont{
    margin-top: 50px;
}

/* ------------------------------------------------- */
/* Section 10 */

#sect-10-cont{
    margin-top: 50px;
    width: 100%;
}

#brand{
    margin-top:5px;
}

.brand-logo{
    width:185px;
}

/* ------------------------------------------------- */
/* Section 11 */

/* .brand-logo-box{
    width: 100%;
} */

#sect-11-cont{
    margin-top: 50px;
    width: 100%;
}


/* ------------------------------------------------- */
/* Section 12 */

#sect-12-cont{
    margin-top: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #d6d6d6;
}

#enter-email-search{
    border-radius: 4px;
    border: 2px solid yellow;
}

/* ------------------------------------------------- */
/* Section 13 */

#sect-13-cont ul{
    list-style-type: square;
}